<!-- necessary stylesheets -->
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@3.2.2/dist/assets/diagram-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@3.2.2/dist/assets/bpmn-font/css/bpmn.css" />

<script src="https://unpkg.com/bpmn-js@3.2.2/dist/bpmn-modeler.development.js" type="text/javascript"></script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

<style>
    #save-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
</style>

<h2>@ViewBag.Message</h2>
<hr />
<div id="canvas"></div>
<button id="save-button">print to console</button>

<script type="text/javascript">
    var diagramUrl = '@ViewBag.BPMNDiagramURL';
    //alert(diagramUrl);
    var bpmnModeler = new BpmnJS({
        container: '#canvas',
        height: 600, keyboard: {
            bindTo: window
        }});

    function openDiagram(bpmnXML) {
        // import diagram
        bpmnModeler.importXML(bpmnXML, function (err) {
            if (err) {
                return console.error('could not import BPMN 2.0 diagram', err);
            }
            // access modeler components
            var canvas = bpmnModeler.get('canvas');
            var overlays = bpmnModeler.get('overlays');
            // zoom to fit full viewport
            canvas.zoom('fit-viewport');
            // attach an overlay to a node
            overlays.add('SCAN_OK', 'note', {
                position: {
                    bottom: 0,
                    right: 0
                },
                html: '<div class="diagram-note">Mixed up the labels?</div>'
            });
            // add marker
            canvas.addMarker('SCAN_OK', 'needs-discussion');
        });
    }

    // load external diagram file via AJAX and open it
    $.get(diagramUrl, openDiagram, 'text');
</script>

